* {
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Epilogue', sans-serif;
}

a {
    font-size: 1.5rem !important;
    padding-top: 5rem;
}

.navigation {
    display: inline-flexbox;
    /* margin-bottom: 2rem; */
}

.navbar-item {
    text-align: center;
}

.navbar a:hover {
    color: #FF6464;
}

.navbar img {
    height: 6rem;
    border-radius: 2rem;
    margin: 1rem 2rem;
}

.navbar-brand {
    flex-grow: 10;
}

.ss {
    font-family: fantasy;
    font-size: 10rem; 
    text-align: center;
    letter-spacing: 1.2rem;
    color: #7D9D9C; 
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.box1 {
    height: 100vh;
    width: 50vh;
    border:   ;
}
 
.box1 img {
        margin-top: 5rem;
        margin-left: 5rem;
        height: 80vh;
        background-repeat: no-repeat;
}

.searchbox {
    width: 30rem;
    margin-left: 10rem;
    margin-right: 20rem;
}

.box2 {
        height: 100vh;
        width: 150vh;
        padding: 0rem 2rem;
        margin-left: 1rem;
        border: ;
}

.box {
   height: 100vh;
   width: 130vh;
   margin-left: 1rem;
   padding: 5rem 1rem;
   border: ;
}

.box img {
    width: 19.9rem;
    height: 25rem;
}

.card {
    display: inline-block;
    height: 45rem;
    width: 20rem;
}

h5 {
    padding-top: 1rem;
    font-size: large;
}
h6 {
    padding-top: 0.5rem;
    font-size: medium;
}

.line {
    border: bottom 1px solid hsl (238, 8%, 79%);
    padding-bottom: 3rem;
}