/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    color: white;
    padding: 0px 0px;
    border: 10px #2abebe;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    /* width: 280px; */
  }
  
  .open-button:hover {
    opacity: 5;
  }

  .open-button img{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    cursor: pointer;
    position: fixed;
    opacity: 0.8;
    bottom: 28px;
    right: 25px;
    margin-right: 2rem;
  }

  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    margin-right: 1rem;
    right: 15px;
    border: 2px solid gainsboro;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 280px;
    padding: 10px;
    background-color: white; 
    color: black;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-radius: 5px;
    background: #f1f1f1;
    resize: none;
    min-height: 180px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #2abebe; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: #f73434;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }


  @media (max-width: 1199px) {

    .open-button {
      color: white;
      padding: 0px 0px;
      border: 10px #2abebe;
      opacity: 0.6;
      transition: 0.3s;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 10rem;
      padding-right: 10rem ;
      /* width: 280px; */
    }
  
    .open-button img{
      width: 75px;
      height: 75px;
      border-radius: 100px;
      cursor: pointer;
      position: fixed;
      opacity: 0.8;
      bottom: 28px;
      right:10rem;
      }

    .chat-popup {
      display: none;
      position: fixed;
      bottom: 0;
      margin-right: 10.5rem;
      right: 15px;
      border: 2px solid rgba(69, 206, 206, 0.541);
      z-index: 9;
      }
  
    }
  
  @media (max-width: 991px) {

  .open-button {
    color: white;
    padding: 0px 0px;
    border: 10px #2abebe;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    padding-right: 10rem ;
    /* width: 280px; */
  }

  .open-button img{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    cursor: pointer;
    position: fixed;
    opacity: 0.8;
    bottom: 28px;
    left:900px;
    }

  }

@media (max-width: 767px) {
  .open-button {
    margin-right: -50rem;
  }
    
  }