@media (max-width: 991px) {

/* ---------Header2 -----------*/
.uni {
    height: 105vh; 
}

.unique {
    padding-top: 5rem;
    font-size: 10rem;
}

.line {
    display: flex;
    justify-content: center;
    width: 45%;
    margin-left: 28rem;
}

.photo {
    margin-top: 4rem;
    border-radius: 10px;
    height:250px;
    margin-bottom: 3rem;
    transition: 0.3s;
}

.photo1 {
    border-radius: 10px;
    height:350px;
    transition: 0.3s;
}


/*-----------PRODUCT CARDS ----------*/

/*---------HER---------*/

.her, .him {
    /* position: relative; */
    background: linear-gradient(to right, rgb(204, 195, 187), rgba(55, 80, 88, 0.466));
    max-height: 200vh;
    padding-top: 5rem;
}

.options1 {
    margin-left: 1rem;
    margin-top: -2rem;
    height: 1rem;

}

.opt, .opt1, .opt2 {
    margin-top: 40rem;
    margin-left: 10rem;
    color: white;
}    

.forher, .forhim  {
    margin-left: 1rem;
    height: auto;
    margin-top: -12rem;
    /* border: 2px solid; */
}

.prodhead {
    font-size: 8rem;
}

.kath1 {
    height: 32rem;
    margin-top: -5rem;
    margin-left: 1rem;
}

.shop {
    margin-top: 26rem;
    height: 4rem;
    width: 20.5rem;
    margin-left: -0.1rem;
}
.shop1 {
    margin-top: 26rem;
    height: 4rem;
    width: 20rem;
    margin-left: -0.1rem;
}


/* Product ---------*/

.girlp{
    margin-left: -1rem;  
    width: 50%;
    border-top: 1px solid;
}
.boyp {
    margin-left: -1rem; 
    border-top: 1px solid;
    width: 50%;
}

.box {
    margin-top: 1rem;
    margin-left: 9rem; 
}

.box1 {
    margin-left: 1.8rem; 
    margin-top: 1rem;
}

.box img {
    width: 12.5rem;
    height: 18rem;
}

.box1 img {
    width: 12.5rem;
    height: 18rem;
}

.add {
    height: 3.5rem; 
    width: 10rem;
    margin-left: 1.5rem;
}
.buy {
    position: relative;
    left: 2rem;
    margin-top: 0.5rem;
    height: 3rem; 
    width: 5rem; 
}

.card {
     max-height: 375px;
     max-width:fit-content;
     margin-bottom: 3rem;
}


/* ------- logos ------*/

.logos {
    margin-left: 5rem ;
    margin-bottom: 1.5rem;
}

.l1 {
    padding-bottom:4rem;
}
.logos img {
    height: 6rem;
    width: auto;
    margin-right: -5.7rem;
}

/* ------CONTACT----- */

.contact {
    height: 31vh;
    padding-top: 3rem;
    background: linear-gradient(to right, rgb(204, 195, 187), rgba(55, 80, 88, 0.466));
}

.brand img {
    margin-left: 13rem;
}

.icons{
    margin-left: 10rem;
}
.blogo {
    margin-left: 10rem;
}

.design  {
    margin-left: 10.5rem; 
}

}